global
  user haproxy
  stats socket /tmp/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info
  maxconn 500

defaults
  timeout client 30s
  timeout server 90s
  timeout connect 2s
  timeout tunnel 1h
  log global
  option tcplog

frontend stats
  mode http
  option httplog
  option logasap
  bind :8404 ssl crt /certs/internal.pem
  stats enable
  stats uri /
  acl admin_ip src 128.232.0.0/16 2a05:b400:110::/48
  stats admin if admin_ip
  http-request deny if !admin_ip
  http-request auth unless { http_auth(statscredentials) }

frontend prometheus
  bind :8405
  mode http
  acl local_ip src 172.18.4.0/24 172.18.5.0/24
  http-request deny if !local_ip
  http-request use-service prometheus-exporter if { path /metrics }

frontend isaacfrontend
  mode tcp
  bind :80
  bind [::]:80
  bind :443
  bind [::]:443
  tcp-request connection expect-proxy layer4 if { src "$REMOTE_SERVER_IP" }
  default_backend nginx

backend nginx
  mode tcp
  server local isaac-router send-proxy
  # TODO add status-based routing to other machine's HAProxy & maintenance page
  server remote "$REMOTE_SERVER_IP" send-proxy backup
