global
  user haproxy
  stats socket /tmp/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info
  ulimit-n 8192
  maxconn 500

defaults
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  log global

frontend myfrontend
  mode tcp
  default_backend mybackend
  bind *:80
  bind *:8080 accept-proxy

backend mybackend
  mode tcp
  server s1 isaac-router:443