global
  user haproxy
  stats socket /tmp/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info
  ulimit-n 8192
  maxconn 500

defaults
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  log global

frontend isaac_frontend
  mode tcp
  bind [::]:80 v4v6
  bind [::]:443 v4v6
  default_backend nginx

backend nginx
  mode tcp
  server s1 isaac-router send-proxy
  # TODO add routing to other machine's HAProxy & maintenance page
